apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: P1809F7CD0C75ACF3
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    basicAuth: false
    isDefault: true
    editable: true
